In [1]:
%pylab inline
import pandas as pd
from pandas import Series, DataFrame

Populating the interactive namespace from numpy and matplotlib

In [3]:
s = Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100], dtype=np.int32)
s

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int32

In [4]:
s.loc[4] = 123.456
s

0     10.000
1     20.000
2     30.000
3     40.000
4    123.456
5     60.000
6     70.000
7     80.000
8     90.000
9    100.000
dtype: float64

In [5]:
s = Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100], dtype=np.int32)
s

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int32

In [6]:
s.loc[4] = nan
s

0     10.0
1     20.0
2     30.0
3     40.0
4      NaN
5     60.0
6     70.0
7     80.0
8     90.0
9    100.0
dtype: float64

In [7]:
s.sum()

500.0

In [9]:
s.sum(skipna=False)

nan

In [8]:
help(s.sum)

Help on method sum in module pandas.core.series:

sum(axis=None, skipna=None, level=None, numeric_only=None, min_count=0, **kwargs) method of pandas.core.series.Series instance
    Return the sum of the values for the requested axis.

                This is equivalent to the method ``numpy.sum``.

    Parameters
    ----------
    axis : {index (0)}
        Axis for the function to be applied on.
    skipna : bool, default True
        Exclude NA/null values when computing the result.
    level : int or level name, default None
        If the axis is a MultiIndex (hierarchical), count along a
        particular level, collapsing into a scalar.
    numeric_only : bool, default None
        Include only float, int, boolean columns. If None, will attempt to use
        everything, then use only numeric data. Not implemented for Series.
    min_count : int, default 0
        The required number of valid values to perform the operation. If fewer than
        ``min_count`` non-NA values are present the result will be NA.

        .. versionadded:: 0.22.0

           Added with the default being 0. This means the sum of an all-NA
           or empty Series is 0, and the product of an all-NA or empty
           Series is 1.
    **kwargs
        Additional keyword arguments to be passed to the function.

    Returns
    -------
    scalar or Series (if level specified)

    See Also
    --------
    Series.sum : Return the sum.
    Series.min : Return the minimum.
    Series.max : Return the maximum.
    Series.idxmin : Return the index of the minimum.
    Series.idxmax : Return the index of the maximum.
    DataFrame.sum : Return the sum over the requested axis.
    DataFrame.min : Return the minimum over the requested axis.
    DataFrame.max : Return the maximum over the requested axis.
    DataFrame.idxmin : Return the index of the minimum over the requested axis.
    DataFrame.idxmax : Return the index of the maximum over the requested axis.

    Examples
    --------
    >>> idx = pd.MultiIndex.from_arrays([
    ...     ['warm', 'warm', 'cold', 'cold'],
    ...     ['dog', 'falcon', 'fish', 'spider']],
    ...     names=['blooded', 'animal'])
    >>> s = pd.Series([4, 2, 0, 8], name='legs', index=idx)
    >>> s
    blooded  animal
    warm     dog       4
             falcon    2
    cold     fish      0
             spider    8
    Name: legs, dtype: int64

    >>> s.sum()
    14

    Sum using level names, as well as indices.

    >>> s.sum(level='blooded')
    blooded
    warm    6
    cold    8
    Name: legs, dtype: int64

    >>> s.sum(level=0)
    blooded
    warm    6
    cold    8
    Name: legs, dtype: int64

    By default, the sum of an empty or all-NA Series is ``0``.

    >>> pd.Series([]).sum()  # min_count=0 is the default
    0.0

    This can be controlled with the ``min_count`` parameter. For example, if
    you'd like the sum of an empty series to be NaN, pass ``min_count=1``.

    >>> pd.Series([]).sum(min_count=1)
    nan

    Thanks to the ``skipna`` parameter, ``min_count`` handles all-NA and
    empty series identically.

    >>> pd.Series([np.nan]).sum()
    0.0

    >>> pd.Series([np.nan]).sum(min_count=1)
    nan

In [10]:
s

0     10.0
1     20.0
2     30.0
3     40.0
4      NaN
5     60.0
6     70.0
7     80.0
8     90.0
9    100.0
dtype: float64

In [11]:
s.dropna()   # return a new series without any of the old series' nans

0     10.0
1     20.0
2     30.0
3     40.0
5     60.0
6     70.0
7     80.0
8     90.0
9    100.0
dtype: float64

In [12]:
s

0     10.0
1     20.0
2     30.0
3     40.0
4      NaN
5     60.0
6     70.0
7     80.0
8     90.0
9    100.0
dtype: float64

In [13]:
# s.dropna(inplace=True)  # return None, modify s -- considered passe in the world of Pandas

In [14]:
# to replace nan, I have fillna
s.fillna(12345)

0       10.0
1       20.0
2       30.0
3       40.0
4    12345.0
5       60.0
6       70.0
7       80.0
8       90.0
9      100.0
dtype: float64

In [15]:
s

0     10.0
1     20.0
2     30.0
3     40.0
4      NaN
5     60.0
6     70.0
7     80.0
8     90.0
9    100.0
dtype: float64

In [16]:
s.fillna(s.mean())

0     10.000000
1     20.000000
2     30.000000
3     40.000000
4     55.555556
5     60.000000
6     70.000000
7     80.000000
8     90.000000
9    100.000000
dtype: float64

In [17]:
s

0     10.0
1     20.0
2     30.0
3     40.0
4      NaN
5     60.0
6     70.0
7     80.0
8     90.0
9    100.0
dtype: float64

In [18]:
s.describe()

count      9.000000
mean      55.555556
std       32.058973
min       10.000000
25%       30.000000
50%       60.000000
75%       80.000000
max      100.000000
dtype: float64

In [19]:
s.fillna(1).describe()

count     10.000000
mean      50.100000
std       34.802458
min        1.000000
25%       22.500000
50%       50.000000
75%       77.500000
max      100.000000
dtype: float64