In [1]:
%pylab inline
import pandas as pd
from pandas import Series, DataFrame

Populating the interactive namespace from numpy and matplotlib

In [3]:
s = Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100], dtype=np.int32)
s

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int32

In [4]:
s.loc[4] = 123.456
s

0     10.000
1     20.000
2     30.000
3     40.000
4    123.456
5     60.000
6     70.000
7     80.000
8     90.000
9    100.000
dtype: float64

In [5]:
s = Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100], dtype=np.int32)
s

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int32

In [6]:
s.loc[4] = nan
s

0     10.0
1     20.0
2     30.0
3     40.0
4      NaN
5     60.0
6     70.0
7     80.0
8     90.0
9    100.0
dtype: float64